---
http_interactions:
- request:
    method: post
    uri: https://api-ssl.bitly.com/v4/shorten
    body:
      encoding: UTF-8
      string: '{"long_url":"https://the.random.guys.com/rick-sanchez-c-2","domain":"bit.ly"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer [BITLY_API_KEY]
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"created_at":"2021-01-17T20:52:04+0000","id":"bit.ly/3p6wmK1","link":"https://bit.ly/3p6wmK1","custom_bitlinks":[],"long_url":"https://the.random.guys.com/rick-sanchez-c-2","archived":false,"tags":[],"deeplinks":[],"references":{"group":"https://api-ssl.bitly.com/v4/groups/Bl1e2e8Ax0d"}}'
  recorded_at: Sun, 17 Jan 2021 23:54:29 GMT
recorded_with: VCR 6.0.0
