%h1
  Welcome to Everly Friends

- if member_signed_in?
  %p
    Welcome 
    = current_member.name

    = link_to "Sign Out", destroy_member_session_path
- else
  %p
    Please #{ link_to "Sign in", new_member_session_path } or #{ link_to "Sign up", new_member_registration_path } first
