---
http_interactions:
- request:
    method: post
    uri: https://api-ssl.bitly.com/v4/shorten
    body:
      encoding: UTF-8
      string: '{"long_url":"https://ignacio.al/"}'
    headers:
      Authorization:
      - Bearer 13acd912b625757a252ac704d78b5b972084b848
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"created_at":"2021-07-01T01:54:56+0000","id":"bit.ly/3wd8Opk","link":"https://bit.ly/3wd8Opk","custom_bitlinks":[],"long_url":"https://ignacio.al/","archived":false,"tags":[],"deeplinks":[],"references":{"group":"https://api-ssl.bitly.com/v4/groups/Bf7u7UMY0PG"}}'
  recorded_at: Thu, 01 Jul 2021 01:54:56 GMT
- request:
    method: post
    uri: https://api-ssl.bitly.com/v4/shorten
    body:
      encoding: UTF-8
      string: '{"long_url":"https://ignacio.al/"}'
    headers:
      Authorization:
      - Bearer 13acd912b625757a252ac704d78b5b972084b848
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"created_at":"2021-07-01T01:54:56+0000","id":"bit.ly/3wd8Opk","link":"https://bit.ly/3wd8Opk","custom_bitlinks":[],"long_url":"https://ignacio.al/","archived":false,"tags":[],"deeplinks":[],"references":{"group":"https://api-ssl.bitly.com/v4/groups/Bf7u7UMY0PG"}}'
  recorded_at: Thu, 01 Jul 2021 01:54:56 GMT
recorded_with: VCR 6.0.0
