<h1>Directory</h1>
<%= link_to 'Add member', new_member_path, class: 'btn btn-primary' %>
<table class="table">
  <thead>
    <th>Member Profile</th>
    <th>Short URL</th>
    <th># Friends</th>
  </thead>
  <tbody>
  <% @members.each do |member| %>
    <tr>
      <td><%= link_to member.name, member_path(member) %></td>
      <td><%= link_to member.shortened_url, member.shortened_url %></td>
      <td><%= member.friend_count %></td>
    </tr>
  <% end %>
  </tbody>
<table>
